.animated {-webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.slideDown {
    -webkit-animation-name: slideDown;   /*规定需要绑定到选择器的 keyframe 名称。。*/
    animation-name: slideDown
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-80px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-98px);
        transform: translateY(-80px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-80px)
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px)
    }
}

.header {
    line-height: 78px;
    position: fixed;
    z-index: 10;
    display: block;
    width: 100%;
    height: 80px;
    padding: 0;
    text-align: right;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}
